.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}
/* General scrollbar styling for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #2c2c2c; /* Dark background for the track */
    border-radius: 10px; /* Rounded corners for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #555; /* Dark grey for the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #888; /* Lighter grey when hovered */
  }
  
  /* General scrollbar styling for Firefox */
  * {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: #555 #2c2c2c; /* Thumb color and track color */
  }
  