@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
body{
    background-color: black;
    color: white;
}
.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.home ul li {
    list-style: none;
    display: flex;
    width: 14px;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.bg-black {
    color: #ffffff;
    background-color: black;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
    color: #B3B3B3;
}

.m-1 {
    margin: 5px;
}

.rounded {
    border-radius: 7px;
}

.p-1 {
    padding: 10px;
}

.heading {
    
    display: flex;
    width: 100%;
    gap: 10px;
    padding-top: 15px;
    font-weight: bold;
    align-items: center;
    font-size: 12px;
}

.heading img{
    width: 25px;
}

.footer{
    display: flex;
    font-size: 10px;
    color: #B3B3B3;
    gap: 12px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}
.footer a{
    color: #B3B3B3;
}

.library{
    min-height: 80vh;
    position: relative;
}
.header{
    display: flex;
    justify-content: space-between;
   
}

.header >*{
    padding: 20px;
}

.spotifyPlaylists{
    padding:16px;
    
    
}
.cardContainer{
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 70vh;
    overflow-y: scroll;
}
.card{
    position: relative;
    width: 150px;
    padding:4px;
    /* background-color: #252525; */
    border-radius: 5px;
}

.card img{
    width: 100%;
    object-fit: contain;
    border-radius: 100px;
}

.card >*{
    padding-top: 9px;
}
.whitecolor{
    color: white;
}
.play{
    position: absolute;
    right: 17px;
    top: 168px;
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 1s ease-out;
}
.buttons >*{
    margin: 0 12px;
}
.signupbtn{
    background-color: black;
    color: #B3B3B3;
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}
.signupbtn:hover{
    font-size: 17px;
    color: white;
    
}
.loginbtn{
    background-color: #fff;
    border-radius: 21px;
    color: black;
    cursor:pointer;
    width: 79px;
    padding: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
}
.loginbtn:hover{
    font-weight: bold;
    font-size: 17px;
}

.playbar{
    position:absolute;
    bottom: 0;
}